.img {
    width: 250px;
    height: 250px;
}

.bigImage {
    width: 100%;
    height: 400px;
}

.modal-body {
    height: 500px !important;

}
.signup-msg {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: yellow;
}

table {
    text-align: center;
}
